################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Mcp/.vs
/Mcp/Mcp.Client/bin/Debug/net9.0
/Mcp/Mcp.Client/obj/Debug/net9.0
/Mcp/Mcp.Client/obj
/Mcp/Mcp.Client.LocalServer/bin/Debug/net9.0
/Mcp/Mcp.Client.LocalServer/obj/Debug/net9.0
/Mcp/Mcp.Client.LocalServer/obj
